.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  place-items: center;
}

main {
  font-family: Helvetica, sans-serif;
  display: flex;
  place-content: center
}

.movies__grid {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 3rem;
  list-style-type: none;
}

@media(min-width:768px) {
  .movies__grid {
    grid-template-columns: repeat(2, 1fr);
  }

}

@media(min-width:1024px) {
  .movies__grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

.movie {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  display: flex;
  justify-content: center;
  max-width: 50rem;
  margin: 0 auto;
}

.title-filter {
  padding: 1.5rem 1rem;
  border-radius: .5rem;
  width: 100%;
}

.form-button {
  padding: 1rem;
  margin-left: .5rem;
  border-radius: .8rem;
  background-color: var(--secondary);
  border: none;
  font-size: 1.8rem;
  color: #FFF;
}

.form-button:hover {
  cursor: pointer;
}