.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  place-items: center;
}

main {
  font-family: Helvetica, sans-serif;
  display: flex;
  place-content: center
}

.movies__grid {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 3rem;
  list-style-type: none;
}

@media(min-width:768px) {
  .movies__grid {
    grid-template-columns: repeat(2, 1fr);
  }

}

@media(min-width:1024px) {
  .movies__grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

.movies__not-found {
  color: var(--grey);
}

.movie {
  height: 720px;
  display: flex;
  flex-direction: column;
}

.movie__title {
  margin: 0;
  flex-grow: 1;
  justify-self: center;
}

.movie__poster {
  object-fit: cover;
  display: block;
  max-height: 530px;
  flex-grow: 1;
}

.movie__year {
  margin: 0;
}

form {
  display: flex;
  justify-content: space-between;
  max-width: 70rem;
  margin: 0 auto;
}

.title-filter {
  padding: 1.5rem 1rem;
  border-radius: .5rem;
  width: 100%;
  max-width: 30rem;
}

.sort-filter {
  display: block;
  width: 2rem;
}

.sort-filter__content {
  display: flex;
  gap: 1rem
}

.form-button {
  padding: 1rem;
  margin-left: .5rem;
  border-radius: .8rem;
  background-color: var(--secondary);
  border: none;
  font-size: 1.8rem;
  color: #FFF;
}

.form-button:hover {
  cursor: pointer;
}